.main-head img {
	position: absolute;
	z-index: -1;
	width: 100%;
    height: 75%;
    object-fit: cover;
}

.main-head-text {
	position: absolute;
	z-index: 2;
	margin-top: 10%;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	background: rgb(0, 0, 0, 0.8);
	color: white;
}

.main-head-text div {
	margin-left: 40px;
	margin-right: 40px;
}

.main-head-text p {
	margin-left: 20px;
	color: rgb(255, 255, 255, 0.8);
}